<div class="container">
  <div class="row">
    <h2 class ="text-center">Add Your Restaurant!</h2>
    <div class="col-xs-6 col-xs-offset-3">
      <%= simple_form_for [@restaurant] do |f| %>
      <%= f.input :name, placeholder: "Restaurant Name"%>
      <%= f.input :address, placeholder: "Type address here" %>
      <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"].map(&:capitalize), prompt: "Cuisine"%>
      <%= f.submit "Add Restaurant", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
